<div *ngIf="user" class="alert alert-warning">
  <p class="text-center">
    id: <span class="fw-bold">{{ user._id }}</span>
  </p>
  <p class="text-center">
    First: <span class="fw-bold">{{ user.firstName }}</span>
  </p>
  <p class="text-center">
    Last: <span class="fw-bold">{{ user.lastName }}</span>
  </p>
  <p class="text-center">
    Age: <span class="fw-bold">{{ user.age }}</span>
  </p>
  <p class="text-center">
    Phone: <span class="fw-bold">{{ user.phone }}</span>
  </p>
  <p class="text-center">
    Email: <span class="fw-bold">{{ user.email }}</span>
  </p>
</div>